<section data-component="Panel Component" [ngClass]="{ 'panel--component': true }">
  <!-- <button mat-mini-fab color="primary" aria-label="close icon" class="mat-mini--button" (click)="closePanel()">
    <mat-icon svgIcon="close" aria-hidden="false" aria-label="Example thumbs up SVG icon" style="width: 18px; height: auto; margin: auto"></mat-icon>
  </button> -->

  {{parameterID}}

  <div class="loader--group">
    <div class="loader" *ngIf="!this.displayDendrogram">
      <!-- loading icon -->
    </div>
  </div>

  <mat-card *ngIf="this.displayDendrogram">
    <app-dendrogram>
      <!-- This component is in /components/d3/ -->
    </app-dendrogram>

    
    <br /><br />

    <br /><br />
    <p style="font-size: 10px; color: rgb(201, 201, 201)">panel works!</p>
    <p class="" style="font-size: 9px; color: rgb(201, 201, 201); text-align: center; max-width: 600px">
      {{ selectedPlot | json }}
    </p>
    <br />
  </mat-card>
</section>
