<article *ngIf="this.display" data-component="app panel component" [ngClass]="{'panel--component': true}">
  <button mat-mini-fab color="primary" aria-label="close icon" class="mat-mini--button">
    <mat-icon aria-hidden="false" aria-label="close panel icon" (click)="closePanel()">close</mat-icon>
  </button>
  <mat-card>
    <p>panel works!</p>
    <p class="" style="text-align: center; max-width: 600px;">{{selectedPlot | json }}</p>
    <br /><br /><br />
    <div echarts [options]="treeOptions" class="demo-chart"></div>

  </mat-card>
</article>