<section data-component="Panel Component" [ngClass]="{ 'panel--component': true }">
  <!-- <button mat-mini-fab color="primary" aria-label="close icon" class="mat-mini--button" (click)="closePanel()">
    <mat-icon svgIcon="close" aria-hidden="false" aria-label="Example thumbs up SVG icon" style="width: 18px; height: auto; margin: auto"></mat-icon>
  </button> -->

  <div class="loader--group" *ngIf="!this.displayDendrogram">
    <app-loader></app-loader>
  </div>

  <div *ngIf="this.displayDendrogram" class="">
    <!-- TODO: render dendrogram here or pass data into child component -->
    <app-hierarchy>
      <!-- src/app/shared/components/hierarchy/hierarchy.component.html -->
      <!-- This component is in /components/d3/ -->
    </app-hierarchy>

    <mat-card class="test-mat-card">
      <div class="test--mat-card--group">
        <p class="test--mat-card--text"><b>panel works!</b></p>
        <p class="test--mat-card--text">{{ selectedPlot | json }}</p>
      </div>
    </mat-card>
  </div>
</section>
