.mat-mini--button {
  margin-bottom: 1.2rem;
}

.demo-chart {
  height: 400px;
}

.loader--group {
  display: flex;
  width: 100%;
  justify-content: center;
}



.test-mat-card {
  max-width: 90vw;
  margin: auto;
  width: 100%;
}