@for (item of stories; track item) {
  <div data-component="Optional Selection Cards" class="mb-4">
    @if (item.title && item.description) {
      <mat-card class="editor-card">
        <mat-card-content class="card-header">
          <div>
            <mat-card-title>
              <p class="subtitle-paragraph">{{ item.title }}</p>
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
              <p class="descriptions-text">{{ item.description }}</p>
            </mat-card-subtitle>
            @if (item.id) {
              <p class="text-xs text-gray-300">{{ item.id }}</p>
            }
          </div>
          @if (primaryText || secondaryText) {
            <mat-card-actions class="card-actions--group" align="end">
              @if (primaryText) {
                <button mat-button (click)="onPrimaryClick(item)">{{ primaryText }}</button>
              }
              @if (secondaryText) {
                <button mat-button (click)="onSecondaryClick(item)">{{ secondaryText }}</button>
              }
            </mat-card-actions>
          }
        </mat-card-content>
      </mat-card>
    }
  </div>
}
