
.editor-card {
  width: 80vw;
  
  &:not(:nth-of-type(1)) {
    margin: {
      top: 1.2rem;
    };
  }
}

.subtitle {
  margin: 0;
}

.subtitle-paragraph {
  font-size: 14px;
  margin: 0;
}

.card-actions--group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.card-description {
  width: 78%
}
