<div data-component="Optional Selection Cards" *ngFor="let item of stories" class="mb-4">
  <mat-card *ngIf="item.title && item.description" class="editor-card">
    <mat-card-content class="card-header">
      <div>
        <mat-card-title>
          <p class="subtitle-paragraph">{{ item.title }}</p>
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
          <p class="descriptions-text">{{ item.description }}</p>
        </mat-card-subtitle>
        <p *ngIf="item.id" class="text-xs text-gray-300">{{ item.id }}</p>
      </div>

      <mat-card-actions *ngIf="primaryText || secondaryText" class="card-actions--group" align="end">
        <button *ngIf="primaryText" mat-button (click)="onPrimaryClick(item)">{{ primaryText }}</button>
        <button *ngIf="secondaryText" mat-button (click)="onSecondaryClick(item)">{{ secondaryText }}</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
