<a
  class="return-home--link"
  mat-stroked-button
  routerLink="/"
  routerLinkActive="active"
  >Home</a
>
<section data-component="Interactive" class="editor--component--section">
  <!-- loop this element. based on data -->
  <mat-card class="editor-card">
    <mat-card-header class="card-header">
      <mat-card-subtitle class="subtitle">
        <p class="subtitle-paragraph">Interaction page - title</p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="card-description">
      <p class="descriptions-text">short description interactive</p>
    </mat-card-content>

    <mat-card-actions class="card-actions--group">
      <button mat-button (click)="interact()">interact</button>
    </mat-card-actions>
  </mat-card>

  <template> </template>
</section>
