/* 
  # Roboto
*/
// <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

// Black
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

// Black Italic
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

// Bold
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Bold Italic
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

// Medium
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// Medium Italic
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

// Regular
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Regular Italic
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// Light
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// Light Italic
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

// Thin
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

// Thin Italic
@font-face {
  font-family: "Roboto";
  src: url("./roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* 
  # Roboto Mono
*/
// Bold
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Bold Italic
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

// Medium
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// Medium Italic
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

// Regular
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Regular Italic
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

// Light
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

// Light Italic
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

// Extra Light
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

// Extra Light Italic
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

// Thin
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

// Thin Italic
@font-face {
  font-family: "Roboto-Mono";
  src: url("./roboto-mono/RobotoMono-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
