<div data-component="Interaction Dashboard" class="relative h-lvh flex items-center justify-center">
  <a class="absolute-position top-[10px] left-[10px]" mat-stroked-button routerLink="/interact" routerLinkActive="active">Interaction Page</a>

  <slot data-component="Interaction Dashboard Component" class="component">
    <app-story-board *ngIf="story" [fullStory]="story">
    </app-story-board>

    <!-- error response -->
    <article *ngIf="!story">
      <p>Error getting story</p>
    </article>
  </slot>
</div>
