<!-- <nav>
  <a routerLink="/interaction" routerLinkActive="active">Interactive</a>
  <a routerLink="/editor" routerLinkActive="active">Editor</a>
  <a routerLink="/" routerLinkActive="active">Home</a>
</nav> -->
<section class="start-screen--component--section">
  <mat-card>
    <div class="start-screen--navigation--group">
      <a
        class="start-screen--navigation--link"
        mat-stroked-button
        routerLink="/interaction"
        routerLinkActive="active"
      >
        Interactive
      </a>
      <a
        class="start-screen--navigation--link"
        mat-stroked-button
        routerLink="/editor"
        routerLinkActive="active"
      >
        Editor
      </a>
    </div>
  </mat-card>
</section>
