<section data-component="Welcome Mat" class="component bg-[#262532] pt-[30px] pb-[46px] px-[46px]">
  <div class="component--content flex flex-col items-start">
    <h1 class="mat-headline-3 font-extrabold text-[#F2F2F0]">
      Welcome
    </h1>

    <p class="mat-body text-[#CFCDBD] max-w-5xl mb-4 md:mb-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu ex nec massa
      rutrum bibendum a eu neque. Suspendisse at nibh non orci interdum pulvinar. Nulla et dapibus ipsum. Integer nec pharetra enim. </p>

    <button mat-raised-button color="axolotl" (click)="createContent()">Create Content</button>
  </div>
</section>
