<footer class="flex flex-row wrap justify-between items-center w-full px-12 py-4 bg-[#97a271]">
  <div class="social--links--group flex flex-row mx-4 my-2">
    <a href="https://github.com/tolubydesign/angular-story">
      <img class="w-[30px] h-auto shadow-sm" height="30" width="30" src="/assets/icons/github-mark.svg"
        alt="Github logo" /></a>
  </div>
  <div class="flex justify-center items-center mx-4 my-2">
    <img class="w-[30px] h-auto shadow-sm" height="30" width="30" src="/assets/logo-light.svg" alt="Logo" />
  </div>
  <div></div>
</footer>