<section data-component="Draft Card Row" class="mx-12 my-6">
  <div class="draft-card-row--header mb-5">
    <h4 class="mat-headline-6">Drafts</h4>
    <p class="text-sm font-medium text-[#413F5A]">Continue with you left off.</p>
  </div>

  <div class="draft-display-card--content flex flex-wrap gap-4 mb-6">
    <app-summary-display-card *ngFor="let item of content"
      [contentType]="'draft'"
      [imageAlt]="item.image.alt"
      [imageUrl]="item.image.url"
      [content]="item.content"
      [description]="item.description"
      [title]="item.title"
      ></app-summary-display-card>

      <app-summary-display-card *ngFor="let item of content"
      [contentType]="'draft'"
      [imageAlt]="item.image.alt"
      [imageUrl]="item.image.url"
      [content]="item.content"
      [description]="item.description"
      [title]="item.title"
      ></app-summary-display-card>
  </div>

  <div>
    <button mat-raised-button color="axolotl" class="text-[10px]" (click)="loadMoreDrafts()">Load More</button>
  </div>
</section>
