.interaction-component--section {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-description {
  margin: 0;
}

.interact-section--cards {
  display: block;
  overflow-y: scroll;
  max-height: 80vh;
  width: auto;
  padding: 10px 12px;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #bebebe;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #969696;
  }
}
