<div data-component="Interaction" class="relative h-lvh flex items-center justify-center">
  <a class="absolute-position top-[10px] left-[10px]" mat-stroked-button routerLink="/" routerLinkActive="active">Home</a>

  <!-- TODO: add welcoming mat. inform user of the page they are currently on -->

  <section data-component="Interaction" class="interaction-component--section">
    <div class="interact-section--cards">
      <app-optional-selection-card [stories]="stories" [primaryText]="'INTERACT'" [secondaryText]="null"
        (PrimaryClick)="interact($event)">
      </app-optional-selection-card>
    </div>
  </section>
</div>
