<div data-component="navigation" class="component">
  <!-- main content for navigation -->
  <div class="component--main-content">
    <div class="flex justify-center item-center mx-auto">
      <img class="shadow-lg w-[36px] h-auto" height="32" width="32" src="/assets/logo-light.svg"
        alt="Icon representing the logo for this project. Currently under construction. TODO: Update in the future." />
    </div>

    <div class="flex flex-col justify-center item-center mt-[20px]">
      <a [class]="navigationLinkClassName" routerLink="/" routerLinkActive="active">
        <img class="w-[34px] h-auto" height="34" width="34" src="/assets/icons/home-icon.svg"
          alt="Link to the Home Page. Icon in the shape of a house." />
      </a>
      <a [class]="navigationLinkClassName" routerLink="/" routerLinkActive="active">
        <img class="w-[34px] h-auto" height="34" width="34" src="/assets/icons/basic-block-icon.svg"
          alt="Link to the Home Page. Icon in the shape of a house." />
      </a>
    </div>
  </div>

  <!-- sub content for navigation -->
  <div class="component--sub-content flex flex-col justify-center item-center">
    <a [class]="navigationLinkClassName" routerLink="#">
      <img class="w-[34px] h-auto" height="34" width="34" src="/assets/icons/settings-icon.svg"
        alt="Link to the Home Page. Icon in the shape of a house." />
    </a>
    <a [class]="navigationLinkClassName" routerLink="#">
      <img class="w-[34px] h-auto" height="34" width="34" src="/assets/icons/assistance-icon.svg"
        alt="Link to the Home Page. Icon in the shape of a house." />
    </a>
  </div>

</div>