<mat-card data-component="Continue Display Card" class="w-full sm:w-1/4 sm:min-w-[330px] max-w-[350px] overflow-hidden h-full flex">
  <div class="flex items-center h-[100px] w-full overflow-hidden">
    <!-- <img mat-card-image class="h-auto w-full" [src]="imageUrl ? imageUrl : 'about:blank'" width="auto" height="auto"
      [alt]="imageAlt" /> -->
  </div>

  <div class="card--header mb-4 px-4">
    <h5 class="font-semibold text-sm md:text-base mb-2">{{ title }}</h5>
    <p class="text-xs md:text-sm">{{description}}</p>
  </div>

  <!-- <mat-card-content class="mb-4">
    <p class="mat-body-2 text-[#867979]">{{ content }}</p>
  </mat-card-content> -->

  <div class="grid grid-rows-auto grid-flow-col gap-2 px-4 mb-4 mt-auto">
    @if (contentType === 'continuation') {
    <button mat-raised-button>View</button>
    }
    @if (contentType === 'draft') {
    <button mat-raised-button (click)="edit()">Edit</button>
    <button mat-raised-button (click)="delete()">Delete</button>
    }
  </div>
</mat-card>