
<div class="mock-story-board">
  <div class="story-board--char-images">
    <app-mock-story-characters class="character-image" *ngFor="let image of loopingCount(2)">
    </app-mock-story-characters>
  </div>

  <div class="story--text">
    <app-mock-story-board class="story--text-container" [dialogue]="dialogue"></app-mock-story-board>
  </div>

  <!-- choices: reader choices -->
  
    <mat-card-actions>
      <div>
        <div *ngFor="let option of collections">
          <button mat-button value="{{ option.state }}" >
            {{ option.name }}
          </button>
        </div>
      </div>
    </mat-card-actions>
 

  <!-- navigation buttons -->
  <div class="navigation--button">
    <app-nav-button (click)="navigateDialogue('previous')" navigationButton="previous"></app-nav-button>
    <app-nav-button (click)="navigateDialogue('next')" navigationButton="next"></app-nav-button>
  </div>
  <!-- <app-dummy-component></app-dummy-component> -->
</div>