<div class="mock-story-board">
  <!-- characters in action -->
  <div class="story-board--char-images">
    <app-mock-story-characters class="character-image" *ngFor="let image of loopingCount(1)">
    </app-mock-story-characters>
  </div>

  <div class="story--text">
    <!-- show current reader narrative -->
    <app-mock-story-board class="story--text-container" [title]="title" [narrative]="narrative"></app-mock-story-board>
  </div>

  <!-- choices: reader choices -->
  <div class="story--choices--container">
    <button value="{{ choice.decision }}" *ngFor="let choice of readerChoices" (click)="onReaderDecision($event)"
      class="story-choice pointer">
      {{ choice.summary }}
    </button>
  </div>

</div>