<div class="mock-story-board">
  <!-- characters in action -->
  <div class="story-board--char-images">
    <app-mock-story-characters class="character-image" *ngFor="let image of loopingCount(1)">
    </app-mock-story-characters>
  </div>

  <div class="story--text">
    <!-- show current reader narrative -->
    <app-mock-story-board 
    class="story--text-container" 
    [title]="title"
    [narrative]="narrative"></app-mock-story-board>
  </div>

  <!-- choices: reader choices -->
  <mat-card-actions class="story--choices--container">
    <button 
    *ngFor="let choice of readerChoices"
    (click)="onReaderDecision($event)"
    value="{{ choice.decision }}"
    class="story-choice pointer">
      {{ choice.summary }}
    </button>
  </mat-card-actions>


  <!-- navigation buttons -->
  <div class="navigation--button">
    <app-nav-button (click)="onNavigateDialogue('previous')" navigationButton="previous"></app-nav-button>
    <app-nav-button (click)="onNavigateDialogue('next')" navigationButton="next"></app-nav-button>
  </div>
  <!-- <app-dummy-component></app-dummy-component> -->
</div>