<section data-component="Continue Card Row" class="mx-12 my-6">
  <div class="continue-card-row--header mb-5">
    <h4 class="mat-headline-6">Continue</h4>
    <p class="text-sm font-medium text-[#413F5A]">Continue with the stories you were busy with.</p>
  </div>
  <div class="continue-display-card--content flex flex-wrap gap-4" >
    @for (item of content(); track item) {
      <app-summary-display-card
        [contentType]="'continuation'"
        [description]="item.description"
        [title]="item.title"
      ></app-summary-display-card>
    }
  </div>
</section>
