<div data-page="Login" class="login--page relative overflow-y-scroll md:overflow-y-auto flex flex-col-reverse md:flex-row">
  <a routerLink="/" class="fixed top-4 left-4">
    <img class="w-[34px] h-auto" height="32" width="32" src="/assets/logo-light.svg"
    alt="Narration font logo." />
  </a>

  <div class="flex justify-center items-center min-h-[calc(100vh-10vh)] h-auto w-full md:w-1/2">
    <app-login-form class="w-full"></app-login-form>
  </div>

  <div class="login--side-image--panel w-full md:w-1/2 min-h-[10vh]"
    [style.background-image]="'url(/assets/images/login-screen-asset-collage.jpg)'">
  </div>
</div>
