@import "./style/variables";
@import "./style/animation";

body {
  * {
    font-family: "Courier New", Courier, monospace;
  }
}

.app-router--group {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
