@import "./style/variables";
@import "./style/animation";
// import google material icons for Material Icons 
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.app-router--group {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
