<a class="return-home--link" mat-stroked-button routerLink="/" routerLinkActive="active">Home</a>
<section data-component="Editor Component" class="editor--component--section">

  <!-- loop this element. based on data -->
  <mat-card *ngFor="let edit of storyEdits" class="editor-card">
    <mat-card-header class="card-header">
      <!-- <div mat-card-avatar></div> -->
      <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
      <mat-card-subtitle class="subtitle">
        <p class="subtitle-paragraph">{{edit.title}}</p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="card-description">
      <p class="descriptions-text">{{edit.description}}</p>
    </mat-card-content>

    <mat-card-actions class="card-actions--group">
      <button mat-button (click)="deletePlot(edit.id)">DELETE</button>
      <button mat-button (click)="editPlot(edit.id)">EDIT</button>
    </mat-card-actions>
  </mat-card>
</section>