<mat-card-content>{{ pageTitle }}</mat-card-content>
<mat-card-actions>
  <button *ngFor="let item of buttonValues" mat-button (click)="onButton($event)" [value]="item + 1">{{ item }}</button>
</mat-card-actions>
<div *ngFor="let users of usersOnDisplay">
  <p>{{ users.id - 1 }}</p>
  <p>{{ users.email }}</p>
  <p>{{ users.body }}</p>
</div>
<button mat-button>{{ arrayOfDisplayNumbers }}</button>
<mat-card *ngFor="let comment of results">
  <div *ngIf="comment">
    <mat-card-content>  {{ comment.id }} id </mat-card-content>
    <mat-card-title> {{ comment.email }} email</mat-card-title>
    <mat-card-content> {{ comment.body }} body </mat-card-content>
  </div>
</mat-card>
