<mat-card-content>{{ pageTitle }}</mat-card-content>
<mat-card-actions>
  <button appValue *ngFor="let item of buttonValues" mat-button (click)="onButton($event)" value="{{ item + 1}}">{{ item }}</button>
</mat-card-actions>
<mat-card *ngFor="let user of usersOnDisplay" style="margin: 1em;">
  <mat-card-content *ngIf="user"> {{ user.id }} </mat-card-content>
  <mat-card-title *ngIf="user"> {{ user.email }} </mat-card-title>
  <mat-card-content *ngIf="user"> {{ user.body }} </mat-card-content>
</mat-card>
<button mat-button>{{ arrayOfDisplayNumbers }}</button>
<mat-card *ngFor="let comment of results">
  <div *ngIf="comment">
    <mat-card-content> {{ comment.id }} id </mat-card-content>
    <mat-card-title> {{ comment.email }} email</mat-card-title>
    <mat-card-content> {{ comment.body }} body </mat-card-content>
  </div>
</mat-card>