<section data-component="Main" class="start-screen-component--section h-screen flex flex-col">
  <app-welcome-mat></app-welcome-mat>

  <app-continue-card-row></app-continue-card-row>
  <app-draft-card-row></app-draft-card-row>
  <!-- <mat-card class="px-10 py-3">
    <div class="start-screen--navigation--group">
      <a class="start-screen--navigation--link" mat-stroked-button routerLink="/interact">
        Interaction
      </a>
      <a class="start-screen--navigation--link" mat-stroked-button routerLink="/editor">
        Editor
      </a>
    </div>
  </mat-card> -->
</section>