<slot data-component="Panel Component" [ngClass]="{ 'panel--component': true }">
  <div class="loader--group" *ngIf="!this.displayDendrogram">
    <app-loader></app-loader>
  </div>

  <div class="display-dendrogram--group" *ngIf="this.displayDendrogram">
    <!-- TODO: render dendrogram here or pass data into child component -->
    <app-hierarchy>
      <!-- src/app/shared/components/hierarchy/hierarchy.component.html -->
      <!-- This component is in /components/d3/ -->
    </app-hierarchy>

    <mat-card class="test-mat-card">
      <div class="test--mat-card--group">
        <p class="test--mat-card--text"><b>panel works!</b></p>
        <p class="test--mat-card--text">{{ selectedPlot | json }}</p>
      </div>
    </mat-card>
  </div>
</slot>
