@use './variables.scss' as v;
@use './fonts/fira-sans-font.scss';
@use './fonts/fira-mono-font.scss';

.fixed-position {
  position: fixed !important;
}

.absolute-position {
  position: absolute !important;
}

html, body { height: 100%; }
body {
  font-family: v.$defined-font;
  background-color: var(--vt-c-background-colour);
  padding: 0;
  margin: 0;
  max-width: unset;
  width: 100%;
  height: 100%;
}
