// ? 1. Default theme
$theming-material-components-primary: mat-palette($mat-indigo);
$theming-material-components-accent: mat-palette($mat-pink, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);

$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);

// ? 2. Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// ? 3. Define a custom heading typography config
$heading-font-family: '"Courier New", Courier, monospace';
$typography: mat-typography-config(
  $font-family: $heading-font-family,
  $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
);

// material typography customization can be found at: https://material.angular.io/guide/typography

// @use '@angular/material/' as mat;

// @include mat.core();

// $my-primary: mat.define-palette(mat.$indigo-palette, 500);
// $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// /*
// // The "warn" palette is optional and defaults to red if not specified.
// */
// $my-warn: mat.define-palette(mat.$red-palette);

// $my-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $my-primary,
//       accent: $my-accent,
//       warn: $my-warn,
//     ),
//   )
// );

// $my-custom-level: mat.define-typography-level(
//   $font-family: '"Courier New", Courier, monospace',
// );
// /*
// // $my-custom-level: mat.define-typography-level(
// //   $font-family: 'Courier New', Courier, monospace,
// //   $font-weight: 400,
// //   $font-size: 1rem,
// //   $line-height: 1,
// //   $letter-spacing: normal,
// // );
// */
// @include mat.core($my-custom-typography);

// /*
// // Emit theme-dependent styles for common features used across multiple components. 
// */
// @include mat.core-theme($my-theme);

// /*
// // Emit styles for MatButton based on `$my-theme`. Because the configuration
// // passed to `define-light-theme` omits typography, `button-theme` will not
// // emit any typography styles.
// */
// @include mat.button-theme($my-theme);
// /*
// // Include the theme mixins for other components you use here.
// */
