
$defined-font: "Roboto-Mono", Roboto, "Helvetica Neue", sans-serif;
/* Coolors Exported Palette - coolors.co/070628-e8c547-4d5061-1a54b2-80964c */

/* HSL */
// $color1: hsla(242%, 74%, 9%, 1);
// $color2: hsla(47%, 78%, 59%, 1);
// $color3: hsla(231%, 11%, 34%, 1);
// $color4: hsla(218%, 42%, 55%, 1);
// $color5: hsla(78%, 12%, 79%, 1);

/* RGB */
$gc-dark-blue: #070628;
$gc-gold: #e8c547;
$gc-grey: #4d5061;
$gc-grey-blue: #1a54b2;
$gc-grey-green: #80964c;

$gc-milky-white: #e7e7e7;
$gc-white: #f5f5f5;

$gc-black: #0a0a0a;
$gc-pastel-gray: #CFCDBD !default;

$sys-light-primary: #577D62; // axolotl
$sys-light-background: #E6E4D5 !default; // #CFCDBD
$sys-light-navigation-background: #E6E4D5 !default;

// @deprecated renamed to $dark-primary-text.
// @breaking-change 8.0.0
$black-87-opacity: rgba(black, 0.87);
// @deprecated renamed to $light-primary-text.
// @breaking-change 8.0.0
$white-87-opacity: rgba(white, 0.87);
// @deprecated use $dark-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$black-12-opacity: rgba(black, 0.12);
// @deprecated use $light-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$white-12-opacity: rgba(white, 0.12);
// @deprecated use $dark-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$black-6-opacity: rgba(black, 0.06);
// @deprecated use $light-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$white-6-opacity: rgba(white, 0.06);

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$axolotl-palette: (
  50: #e0f1e4,
  100: #b2c9b7,
  200: #92b89b,
  300: #80af8b,
  400: #719479,
  500: #5f8569,
  600: #577D62,
  700: #3d6448,
  800: #316341,
  900: #1b3f27,
  A100: #a9fac4,
  A200: #7ffaa8,
  A400: #42ec7b,
  A700: #07ad3e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  // Overwrites
  --vt-c-button-disabled-label-text: rgba(0, 0, 0, 0.38);
  --vt-c-button-disabled-container: rgba(0, 0, 0, 0.12);
}


/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  // custom
  --section-gap: 160px;

  --vt-c-background-colour: #{$sys-light-background};
  --vt-c-background: #{$sys-light-primary};
  --vt-c-text: #{$light-primary-text};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    // custom 
    // NOTE: left hidden for now
    /*  
    --vt-c-background-colour: #{$sys-light-background};
    --vt-c-background: #{$sys-light-primary};
    --vt-c-text: #{$dark-primary-text};
    
    */
  }
}
