/* Coolors Exported Palette - coolors.co/070628-e8c547-4d5061-1a54b2-80964c */

/* HSL */
// $color1: hsla(242%, 74%, 9%, 1);
// $color2: hsla(47%, 78%, 59%, 1);
// $color3: hsla(231%, 11%, 34%, 1);
// $color4: hsla(218%, 42%, 55%, 1);
// $color5: hsla(78%, 12%, 79%, 1);

/* RGB */
$gc-dark-blue: #070628;
$gc-gold: #e8c547;
$gc-grey: #4d5061;
$gc-grey-blue: #1a54b2;
$gc-grey-green: #80964c;

$gc-milky-white: #e7e7e7;
$gc-white: #f5f5f5;

$gc-black: #0a0a0a;
