<!-- <mat-card >
  <div *ngFor="let detail of details">
    <mat-card-title class="content--title">	{{ detail.title }} </mat-card-title>
    
    <mat-card-content class="content--title">
      {{ detail.text }}
    </mat-card-content>
  
    <mat-card-actions>
      <app-button (optionSetEmitted)=onOption($event) 
      [optionSetOne]='optionSetOne'
      [optionSetTwo]='optionSetTwo'
      ></app-button>
    </mat-card-actions>
  </div>
</mat-card> -->

<!-- project section -->
<div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
  <mat-card class="story--board-container">
    <app-mock-story-dashboard></app-mock-story-dashboard>
  </mat-card>
</div>

<!-- 
  component to display a random selection of user comments 
  random users are picked every time the component is reloaded
-->
<!-- 
<mat-card>
  <app-user-comments></app-user-comments>
</mat-card> 
-->

<!-- 
<br>
<br>

<mat-card>
  <app-dummy-component></app-dummy-component>
</mat-card> 
-->