<div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
  <mat-card class="story--board-container">
    <div class="mock-story-board">
      <!-- characters in action -->
      <div class="story-board--char-images" >
        <app-character-portrait class="character-image" *ngFor="let image of loopingCount(2)">
        </app-character-portrait>
      </div>

      <div class="story--text">
        <!-- show current reader narrative -->
        <app-narrative class="story--text-container" [title]="title" [narrative]="narrative">
        </app-narrative>
      </div>

      <!-- choices: reader choices -->
      <div class="story--choices--container">
        <button value="{{ choice.decision }}" *ngFor="let choice of readerChoices" (click)="onReaderDecision($event)"
          class="story-choice pointer">{{ choice.summary }}</button>
      </div>

    </div>
  </mat-card>
</div>