<a class="return-home--link" mat-stroked-button routerLink="/" routerLinkActive="active">Home</a>

<slot data-component="Editor Component" class="editor--component--section">
  <!-- loop this element. based on data -->
  <app-optional-selection-card [listing]="storyEdits" [primaryText]="'DELETE'" 
    [secondaryText]="'EDIT'" (PrimaryClick)="deletePlot($event)" (SecondaryClick)="editPlot($event)" >
  </app-optional-selection-card>
  
  <!-- create new story -->
  <div class="mt-10">
    <button mat-raised-button (click)="createStory()">Create</button>
  </div>

</slot>
